{% extends "common.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block subtitle %}
{{subtitle}}
{% endblock %}

{% block content %}


  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="alert alert-success" id="success" style="display: none;">success</div>
      <div class="alert alert-danger" id="fail" style="display: none;">fail</div>
      <div class="alert alert-warning" id="warning" style="display: none;">warning</div>
      <div class="row">
          <div class="col">
                <div class="form-group row" style="padding-top: 6%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 10%; padding-top: 5; padding-right: 1%;">Categort:</label>
                  <div class="col-lg-9" style="padding-left:0%; padding-right:10%;">
                    <select class="form-control" size="0" id="categort">
                      <option value="Latest consignment">
                        Latest conginment
                      </option>
                      <option value="Retro">
                        Retro
                      </option>
                      <option value="Limited edition">
                        Limited edition
                      </option>
                      <option value="Minimalist">
                        Minimalist
                      </option>
                      <option value="Self winding">
                        Self winding
                      </option>
                      <option value="Military">
                        Military
                      </option>
                      <option value="Sport">
                          Sport
                          </option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group row" style="padding-top: 0.5%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 4.5%; padding-top: 5; padding-right: 1%;">Product Name:</label>
                  <div class="col-lg-9" style="padding-left:0%; padding-right:10%;">
                    <input class="form-control" type="text" value="" id="pname">
                  </div>
                </div>
                <div class="form-group row" style="padding-top: 0.5%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 14%; padding-top: 5; padding-right: 1%;">Brand:</label>
                  <div class="col-lg-9" style="padding-left:0%; padding-right:10%;">
                    <select class="form-control" id="Brand_item" size="0">
                      <option value="Omega">
                        Omega
                      </option>
                      <option value="Tudor">
                        Tudor
                      </option>
                      <option value="Piaget">
                        Piaget
                      </option>
                      <option value="Breitling">
                       Breitling
                      </option>
                      <option value="IWC">
                        IWC
                      </option>
                      <option value="Rolex">
                        Rolex
                      </option>
                      <option value="Vacheron Constantin">
                        Vacheron Constantin
                      </option>
                      <option value="Patek Philippe">
                        Patek Philippe
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row" style="padding-top: 0.5%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 12%; padding-top: 5; padding-right: 1%;">Size:</label>
                  <div class="col-lg-9" style="padding-left:0%; padding-right:10%;">
                    <select class="form-control" id="product_size" size="0">
                      <option value="32mm">
                        32mm
                      </option>
                      <option value="34mm">
                        34mm
                      </option>
                      <option value="36mm">
                        36mm
                      </option>
                      <option value="38mm">
                        38mm
                      </option>
                      <option value="40mm">
                        40mm
                      </option>
                       
                    </select>
                  </div>
                </div>
                <div class="form-group row" style="padding-top: 0.5%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 13%; padding-top: 5; padding-right: 1%;">Current Price:</label>
                  <div class="col-lg-9" style="padding-left:0%; padding-right:40%;">
                    <input class="form-control" type="text" value="" id="price">
                  </div>
                </div>
                <div class="form-group row" style="padding-top: 0.5%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 10%; padding-top: 5; padding-right: 1%;">Condition:</label>
                  <div class="col-lg-9" style="padding-left:0%; padding-right:40%;">
                    <select class="form-control" id="Condition_item" size="0">
                      <option value="Brand_New">
                        Brand New
                      </option>
                      <option value="Like_New">
                        Like New
                      </option>
                      <option value="New_Used">
                        New Used
                      </option>
                      <option value="Used">
                        Used
                      </option>
                      <option value="Refurbished">
                        Refurbished
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row" style="padding-top: 0.5%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 11%; padding-top: 5; padding-right: 1%;">Quantity:</label>
                  <div class="col-lg-9" style="padding-left:0%; padding-right:70%;">
                    <input type="number" value="1" min="1" max="1000" step="1" id="quantity"/>
                  </div>
                </div>
                <div class="form-group row" style="padding-top: 0.5%; padding-right: 10%">
                  <label class="col-lg-3 col-form-label form-control-label" style="padding-left: 4.5%; padding-top: 5; padding-right: 0%;">On Going Line:</label>
                  <div class="col-lg-9" style="padding-left: 0%;">
                    <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 0%;">
                      <!-- <button type="button" class="btn btn-secondary">Yes</button>
                      <button type="button" class="btn btn-secondary">No</button> -->
                      <label class="btn btn-secondary">
                        <input type="radio" name="lineRadios" value="Yes" checked />Yes
                      </label>
                      <label class="btn btn-secondary">
                        <input type="radio" name="lineRadios" value="No" />No
                      </label>
                     
                    </div>
                  </div>
                </div>
              </div>
              <div class = "row">
                <div class = "col" style="padding-top: 10%">
                  <div class = "listing-image" style="margin-left: 5%; margin-right: 100;">
                    <input type='file' onchange="readURL(this);" />
                    <input type="hidden" id="fileurl">
                    <div style = "margin-left: 0%;">
                      <img id="blah" src="http://placehold.it/300" alt="your image" style="width:300px;height:300px;" />
                    </div>
                  </div>
                </div>
                <div class = "col" style="padding-top: 10%; padding-left: 0;">
                  <div class="form-group">
                    <label for="description" class="col-md-3 control-label" style = "color:black; max-width: 100%;">Product Description</label>
                    <div class="col-sm-10">
                    <textarea class="form-control" name="addDescription" id="addDescription" rows="5"></textarea>
                    <div class="Product-SellConfirm" style="text-align: center; padding-top: 3%;">
                      <button type="button" style = "margin-top: 5%;"class="btn btn-success btn-circle text-uppercase" onclick="createwatch()">Confirm Listing</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vl"></div>
          <div class="col">
          </div>
          </div>
          <hr>
      </div>
    </div>
  </div>
<script>
  $(function(){
    console.log($.fn.jquery);
  })
  function createwatch(){
    $('#success').hide()
    $('#fail').hide()
    $('#warning').hide()
    let params={
      name:$('#pname').val(),
      categortid:$('#categort').val(),
      brand:$('#Brand_item').val(),
      size:$('#product_size').val(),
      price:$('#price').val(),
      condition:$('#Condition_item').val(),
      quantity:$('#quantity').val(),
      description:$('#addDescription').val(),
      goline:$("[name='lineRadios']:checked").val(),
      fileurl:$("#fileurl").val()
    }
    if(!params.name){
      $('#warning').html('Enter Product Name')
      $('#warning').show()
      return;
    }
    if(!params.price){
      $('#warning').html('Enter Current Price')
      $('#warning').show()
      return;
    }
    if(!params.quantity){
      $('#warning').html('Enter Quantity')
      $('#warning').show()
      return;
    }
    if(!params.description){
      $('#warning').html('Enter Product Description')
      $('#warning').show()
      return;
    }
    if(!params.fileurl){
      $('#warning').html('Enter Upload Img')
      $('#warning').show()
      return;
    }
    console.log(params);
    $.post('/createwatch',params,function(data,status){
      console.log(data);
      if(data=='success'){
        $('#success').html(data)
        $('#success').show()
        setTimeout(() => {
          window.location.reload()
        }, 1500);
      }else{
        $('#fail').html(data)
        $('#fail').show()
      }
    })
  }
  function readURL(e){
    console.log(e.files);
    if(e.files.length>0){
      let objurl=getObjectURL(e.files[0])
      $('#blah').attr('src',objurl)
      uploadfile(e.files[0])
    }else{
      $('#blah').attr('src','http://placehold.it/300')
    }
  }
  function uploadfile(file){
    let formData = new FormData()
    formData.append('file', file)
    $.ajax({
      url:'/upload',
      dataType:'json',
      type:'POST',
      async: false,
      data: formData,
      processData : false,
      contentType : false,
      success:function(data){
        console.log(data);
        $('#fileurl').val(data)
      },
      error:function(response){
        console.log(response);
      }
    })
  }
  function getObjectURL(file) {
    var url = null ;
    if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
  }
</script>
  {% endblock %}