{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{{title}}
{% endblock %}

{% block body %}
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="{{ url_for('main.itemcreation') }}">Item Creation</a>
        <a class="text-muted" href="{{ url_for('main.watchlist') }}">___Watchlist</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="{{ url_for('main.index') }}">Luxury Watch Store</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.authenticate') }}">Sign up</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">Category</a>
      <a class="p-2 text-muted" href="#">Latest consignment</a>
      <a class="p-2 text-muted" href="#">Retro</a>
      <a class="p-2 text-muted" href="#">Limited edition</a>
      <a class="p-2 text-muted" href="#">minimalist</a>
      <a class="p-2 text-muted" href="#">Self winding</a>
      <a class="p-2 text-muted" href="#">Military</a>
      <a class="p-2 text-muted" href="#">Sport</a>
    </nav>
  </div>

    
    <nav class="nav">
        <a class="nav-link active" href="#">Category></a>
        <a class="nav-link" href="#">Self winding></a>
        <a class="nav-link" href="#">Brand></a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Girand Perregaux</a>
      </nav>
      <section>
        <h2 style="text-align:center"><b> Girard Perregaux</b> </h2>
        </section>

        <div class="row">

            <div class="card col-sm-6">
                  <article>
                      <a href="#" class="card-img-top" target="_blank"><img src="images/Girard perregaux 1966 Skeleton.png" style="width:35vw;height:35vw;" alt="Rolex_oyster"></a>

                  </article>
            </div>
          
          
            <div class="card col-sm-6">
                <article>
                      <h5>Girard Perregaux 1966</h5>
                      <p>SKELETON
                      </p>
                    </article>
                        
                        <p>A model following the design spirit of the watches of the 1960s and a tribute to Girard-Perregaux’s technical advances in the field of chronometry, crowned by the Neuchâtel Observatory Centenary Prize...</p>
                        <p><b>Details: </b>DIMENSIONS
                            42mm
                            CALIBRE
                            GP01800-0006
                            MOVEMENT TYPE
                            Self winding
                            SAPPHIRE
                            Sapphire crystal
                            WATER RESISTANCE
                            3 Bar (30M)</p>
                        
                       
                            <div class="card row-md-4">
        
          
                        <h4 style = "text-align: left">Current Price: $ 84,060</h4>
          
                        <h4 style = "text-align: left">Minimum bid: $ 100</h4>
                          <label for="Maximum">Enter you maximum bid:</label><span></span>
                          <textarea id="Maximum" rows="1" cols="1"></textarea>
                          <a class="nav-link" href="#">Place Bid</a>
                          </div>
                      <span>
                        <button type="button" style="height:5vw; width:20vw" class="btn btn-outline-secondary" href="#">Bid It Now</button>
                          <button type="button" style="height:5vw; width:20vw"class="btn btn-outline-secondary" href="#">Add to Watchlist</button>
                      </span>
            
          
                  </article>
                </div>

            </article>
                </div>

                <body>  
  
                    <div class="article-container">
                            
                            <div class="article_head">
                                <h1 class="title">Reviews</h1>    
                            </div>
                            <img class="imgcss"  src="images/man.jpg" style="width:2vw;">
                                 <p>Ben:"Fortunately, the movement and shell technology is excellent, and always limited production, especially the VC Malte hollow-out watch, is simply a work of art! "</p>
                            </div>
                            <hr/>
                            
                        
                              <div class="comment">
                                 <div class="imgdiv">
                                    <img class="imgcss"  src="images/man.jpg" style="width:2vw;">
                                 </div>
                                 <div class="conmment_details">
                                    <div style="float:left;">
                                      <span class="comment_name">Jessica: </span>     
                                      
                                    </div>
                                    
                                     <div class="comment_content" >  "The comments section, the watches everyone buys there, how to choose, how to maintain, where to repair, and more... I hope you will put their own experience more to write out."
                                    </div>
                                </div> 
                            <hr>
                         
                        <div class="comment">
                                 <div class="imgdiv">
                                    <img class="imgcss"  src="images/man.jpg" style="width:2vw;">
                                 </div>
                                 <div class="conmment_details">
                                    <div style="float:left;">
                                      <span class="comment_name">Tompson: </span>    
                                    </div>
                    
                                     <div class="comment_content" >  "Many products of the same brand are different, so according to its proportion, classified as super, indicating that it is good at complex function table, and complex function table accounts for a considerable proportion in its products, or the machine polishing enough level, brand positioning is high.""
                                    </div>
                                </div>        
                            <hr>
                    
                         <div class="comment">
                                 <div class="imgdiv">
                                    <img class="imgcss"  src="images/man.jpg" style="width:2vw;">
                                 </div>
                                 <div class="conmment_details">
                                    <div style="float:left;">
                                      <span class="comment_name">James:  "The watch was just auctioned. It was perfect for wearing it on any occasion."</span>    
                                      
                                    </div>           
                            
                         
                     
                    </div>
                    </head>
                    <body>
                     
                        <form>
                            <table>
                                <tr>
                                    <td>Write my comment</td>
                                    <td>
                                        <input type="text" style="width:420px;height:100px">
                                        <input type="button" style="width:60px;height:30px;" value="submit" name="bt" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                     
                    </body>

                    <footer class="footer">
                      <p>Copyright &copy; Online Bid Watch Store </p>
                
                    </footer>
                    {% endblock %}


            


        
        
                
          

                      
                     